@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yesteryear&display=swap");

/* @import "./dashboard/index.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sidebar closed state */
.sidebar-closed {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

/* Sidebar open state */
.sidebar-open {
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}

.ql-snow .ql-stroke {
  stroke: #f0f0f0;
}

.ql-snow .ql-picker-label::before {
  color: #f0f0f0;
}
